<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-multiselect.css"/>
    
    <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <script src="/js/bootstrap-multiselect.js"></script>
    
    <script src="/js/SezionSDK.js"></script>
    <script src="/js/barrister.browser.min.js"></script>
    <script>
//     SHOPIFY ONLY
      ShopifyApp.init({
        apiKey: '<%= apiKey %>',
        shopOrigin: '<%= shopUrl %>'
      });
    </script>
  </head>
  <body>
  </body>
</html>