body {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

a {
  color: #00B7FF;
}

#button-green {
  color: #009933;
  border-color: #009933;
  background-color: #E1E1E1;
  border: 2px solid;
  font-weight: bold;
  transition: background-color 300ms ease-out;
}

#button-green:hover {
  background-color: #B9B9B9; 
}

#saveCreds {
  color: #FFFFFF;
  border-color: #FFFFFF;
  background-color: #E1E1E1;
  border: 2px solid;
  font-weight: bold;
  transition: background-color 300ms ease-out;
}

#saveCreds:hover {
  background-color: #B9B9B9; 
}
